/* base css */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100%;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  font-style: italic;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}


header h1 {
  padding: 3vw 20vh;
}

header div {
  padding-right: 10vw;
  width: 100%;
}

header div h1 {
  margin: 2vh 0vw;
  padding: 2vh 10vw;
}

img {
  width: 55vw;
  border: 4px outset lightgrey;
  margin: 3vh;
}

h4 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
  display: flex;
  text-align: start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  height: 80vh;
  position: fixed;
  display: flex;
}

button {
  border: 4px outset rgb(175, 175, 175);
  background-color: rgb(224, 224, 224);
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2vh
}

form input {
  text-align: center;
  display: flex;
}

ol {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 30vw;
}

/* classes css */
.homePageBtn {
  margin: 10px;
  padding: 1vh 2vw;
}

.buyAndSaleBtnDiv {
  display: flex;
  justify-content: center;
  margin: 0vh 0vw 3vh 0vw;
  ;
}

.salesDivs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myStukes {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
}

.myStukes p {
  text-align: center;
  padding: 2vh;
  margin: 1vh;
  background-color: aliceblue;
  border: 2px outset rgb(144, 142, 142);
  font-size: 16px;
}

.appPagesNavigate {
  background-color: gray;
}

/* .appPagesNavigate #userInfoH1 {
  margin-left: 25vw;
} */

.headerSymbul {
  height: fit-content;
  width: 6vw;
  border: 0px;
  border-radius: 100%;
  margin: 3vh;
}

/* ids css */
#homePageBtnDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
}

#homePageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

#LoginBtn {
  margin-left: 0vw;
}

#registerDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#registerDiv button {
  width: 15vh;
}

#RegisterFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
}

#loginFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
}

#headerAndStokesDiv {
  width: 89vw;
  float: left;
}

#mainPageStokesDiv {
  /* width: 89vw; */
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

#mainPageStokesDiv ul {
  /* display: flex; */
  padding: 1vw;
  margin: 1vh 1vw;
  /* flex-direction: none; */
}

#mainPageStokesDiv ul li {
  border: 2px outset rgb(60, 60, 60);
  background-color: rgb(123, 123, 126);
  padding: 10px;
}

#mainHeaderAndNav {
  justify-content: space-around;
  align-items: center;
}

#root {
  height: 100%;
}

#navDiv {
  width: 30vw;
  height: 100vh;
}

#navDiv {
  position: fixed;
  width: 10vw;
  float: right;
  right: 3vw;
  display: inline-block;
}

#navDiv nav {
  position: sticky;
  display: flex;
  border-left: 2px solid black;
  margin-left: 3vw;
  width: 10vw;
  height: 100vh;
  background-color: gray;
}

#navDiv nav ul {
  height: 80vh;
  padding-right: 2px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#NavSymbul {
  height: fit-content;
  width: 6vw;
  border: 0px;
  border-radius: 100%;
}

#root {
  width: 100%;
  height: 100vh;
}

#userInfoDiv p {
  text-align: center;
  justify-content: center;
}

#stukeInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  font-size: 20px;
}

#companyInfoDiv button {
  margin: 2vh;
  padding: 0vh 2vw;
  white-space: pre;
}

#companyInfoDiv h1 {
  font-size: 40px;
}

#usersStukes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userInfoP {
  margin: 15vh;
}

#userStokeHeader {
  margin-right: 20vw;
  margin-left: 20vw;
}

#searchDiv {
  padding: 0vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#logOutBtn {
  margin: 1vw;
  padding: 1vh 3vw;
  white-space: pre;
}

#searchFormAndPDiv{
  position: relative;
  padding: 0vh 3vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#searchFormAndPDiv p {
  position: absolute;
}